# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
#*       @global-owner1 @global-owner2

# ArgoCD Application Definitions

# Modifying a base affects production and therefore requires
# approval
/applications/*/base/        @loudsquelch @craigdalton
/applications/*/*.md        @loudsquelch @craigdalton

# Overlays
/applications/*/overlays/dev/      @sandrews-ctl @craigdalton
/applications/*/overlays/prod/      @loudsquelch @craigdalton

# Documentation
/README.md
/CONTRIBUTING.md

# Code owners file should NOT be modified without approval
CODEOWNERS       @loudsquelch @craigdalton
